@import '../../../variables.scss';

h2 {

    & > nav.pagination {
        display: flex;
        justify-content: center;

        & ul {
            display: flex;
            justify-content: center;
            width: 90%;

            & li {
                display: inline;
                margin: .5rem;

                & a {
                    text-decoration: none;
                    color: $textColor;
                }

                &:hover a {
                    opacity: .75;
                }

                &:active a {
                    color: lighten($textColor, 30%);
                }

                &.active a {
                    color: lighten($textColor, 30%);
                }
            }
        }
    }
}